students.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

	<flow name="get:/students:library-api-config">
		<set-property propertyName="Access-Control-Allow-Origin" value="*" doc:name="Property"></set-property>
        <db:select config-ref="MySQL_Configuration" doc:name="Listagem de Estudantes">
            <db:dynamic-query><![CDATA[SELECT * FROM students  
#[(message.inboundProperties.'http.query.params'.name != null) ? 'WHERE name LIKE "%' + message.inboundProperties.'http.query.params'.name + '%"' : '']]]></db:dynamic-query>

        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="{ &quot;students&quot;: #[payload] }" doc:name="Set Response Payload"/>
    </flow>

    <flow name="post:/students:application/json:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*" doc:name="Property"></set-property>
        <db:insert config-ref="MySQL_Configuration" autoGeneratedKeys="true" doc:name="Criar Estudante">
            <db:parameterized-query><![CDATA[INSERT INTO students (name, registration, phone, email)
VALUES (#[json:/name], #[json:/registration], #[json:/phone], #[json:email])]]></db:parameterized-query>
        </db:insert>
        <set-property propertyName="Location" value="http://localhost:${http.port}/api/students/#[payload.get(0).get(&quot;GENERATED_KEY&quot;)]" doc:name="Set Location Header"/>
    </flow>
    
    <flow name="get:/students/{studentId}:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*" doc:name="Property"></set-property>
        <db:select config-ref="MySQL_Configuration" doc:name="Obter Estudante pelo ID">
            <db:parameterized-query><![CDATA[SELECT * FROM students WHERE id = #[flowVars.studentId]]]></db:parameterized-query>
        </db:select>
        <validation:validate-size message="Estudante n&#227;o encontrado" exceptionClass="org.mule.module.apikit.exception.NotFoundException" value="#[payload]" min="1" doc:name="Valida Estudante Encontrado"/>
        <set-payload value="#[payload.get(0)]" doc:name="Set Response Payload"/>
    </flow>
    
    <flow name="put:/students/{studentId}:application/json:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*" doc:name="Property"></set-property>
        <db:update config-ref="MySQL_Configuration" doc:name="Atualizar Estudante">
            <db:parameterized-query><![CDATA[UPDATE students SET name=#[json:/name], registration=#[json:/registration], phone=#[json:/phone], email=#[json:/email] WHERE id=#[flowVars.studentId]]]></db:parameterized-query>
        </db:update>
    </flow>
    
    <flow name="delete:/students/{studentId}:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*" doc:name="Property"></set-property>
        <db:delete config-ref="MySQL_Configuration" doc:name="Remover Estudante pelo ID">
            <db:parameterized-query><![CDATA[DELETE FROM students WHERE id = #[flowVars.studentId]]]></db:parameterized-query>
        </db:delete>
        <validation:is-true message="Estudante n&#227;o encontrado" exceptionClass="org.mule.module.apikit.exception.NotFoundException" expression="#[payload != false]" doc:name="Valida Exclus&#227;o"/>
    </flow>

</mule>
