src/main/app/loans.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

    <flow name="get:/students/{studentId}/loans:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*"></set-property>
        <db:select config-ref="MySQL_Configuration" doc:name="Listar Emprestimos">
            <db:parameterized-query><![CDATA[SELECT * FROM loans WHERE studentRegistration = ( SELECT registration FROM students WHERE id = #[flowVars.studentId] )]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="{
	&quot;loans&quot;: #[payload]
}" doc:name="Set Response Payload"/>
    </flow>

    <flow name="post:/students/{studentId}/loans:application/json:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*"></set-property>
        <db:insert config-ref="MySQL_Configuration" autoGeneratedKeys="true" doc:name="Criar Emprestimo">
            <db:parameterized-query><![CDATA[INSERT INTO loans ( studentRegistration, isbn, loanDate ) VALUES ( ( SELECT registration FROM students WHERE id = #[flowVars.studentId] ), #[json:/isbn], #[json:/loanDate] )]]></db:parameterized-query>
        </db:insert>
        <set-property propertyName="Location" value="http://localhost:${http.port}/api/students/#[flowVars.studentId]/loans/#[payload.get(0).get(&quot;GENERATED_KEY&quot;)]" encoding="ISO-8859-6" doc:name="Set Location Header"/>

    </flow>

    <flow name="get:/students/{studentId}/loans/{loanId}:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*"></set-property>
    	<db:select config-ref="MySQL_Configuration" doc:name="Obter Empréstimo de Livro pelo ID">
            <db:parameterized-query><![CDATA[SELECT * FROM loans WHERE id = #[flowVars.loanId]]]></db:parameterized-query>
        </db:select>
        <validation:validate-size message="Empréstimo de Livro n&#227;o encontrado" exceptionClass="org.mule.module.apikit.exception.NotFoundException" value="#[payload]" min="1" doc:name="Valida Empr&#233;stimo de Livro Encontrado"/>
        <set-payload value="#[payload.get(0)]" doc:name="Set Response Payload"/>
    </flow>
    
   	<flow name="put:/students/{studentId}/loans/{loanId}:application/json:library-api-config">
   		<set-property propertyName="Access-Control-Allow-Origin" value="*"></set-property>
        <set-variable variableName="lateReturn" value="#[json:/lateReturn]" doc:name="Vari&#225;vel lateReturn"/>
        <db:update config-ref="MySQL_Configuration" doc:name="Atualiza Informa&#231;&#227;o do Empr&#233;stimo do Livro">
            <db:parameterized-query><![CDATA[UPDATE loans SET studentRegistration=(SELECT registration FROM students WHERE id = #[flowVars.studentId]), isbn=#[json:/isbn], loanDate=#[json:/loanDate], returnDate=#[json:/returnDate], effectiveReturnDate=#[json:/effectiveReturnDate], lateReturn=#[lateReturn == true ? 1 : 0] WHERE id=#[flowVars.loanId]]]></db:parameterized-query>
        </db:update>
    </flow>

    <flow name="patch:/students/{studentId}/loans/{loanId}:application/json:library-api-config">
    	<set-property propertyName="Access-Control-Allow-Origin" value="*"></set-property>
        <db:update config-ref="MySQL_Configuration" doc:name="Registra Data Real de Devolu&#231;&#227;o">
            <db:parameterized-query><![CDATA[UPDATE loans SET effectiveReturnDate = #[json:/effectiveReturnDate], lateReturn = (STR_TO_DATE(returnDate, '%Y-%m-%d') <= #[json:/effectiveReturnDate]) WHERE id = #[flowVars.loanId]]]></db:parameterized-query>
        </db:update>
        <db:select config-ref="MySQL_Configuration" doc:name="Obt&#233;m Status de Atraso de Devolu&#231;&#227;o">
            <db:parameterized-query><![CDATA[SELECT lateReturn FROM loans WHERE id = #[flowVars.loanId]]]></db:parameterized-query>
        </db:select>
        <set-payload value="{ &quot;lateReturn&quot;: #[payload.get(0).lateReturn == 1 ? true : false] }" doc:name="Set Response Payload"/>
    </flow>
</mule>
